.black {
   
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    /* aspect-ratio: 1 / 1; */
   }

.txt {
    color: white;
}